@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3 {
    font-family: 'Merriweather', serif;
}


p {
    font-family: 'Roboto', sans-serif;
}


/*
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
 */

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* 3.1. Reusables */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: 1px solid red;
}

.inner-container {
    /* als flex item */
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;


    /*als flex container*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}

/* Typography */

h1 {
    padding: 10px;
    font-size: 35px;
}

h2 {
    padding: 10px;
    font-size: 15px;
}

p {
    font-size: 12px;

}


.opening-text {
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.introduction {
    padding: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 20px;
}

main {
    background-color: #F3F6F9;
}


/* 4. Areas

4.1. Header */

header {
    background-color: #4845E4;
}

/*.header-content {
    margin: 50px 0;
}*/



/*4.2. Navigation */

nav {
    /*als flex container*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #4845E4;
}

ul {
    /*als flex container*/
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li {
    /*als flex item*/
    padding: 10px;

}

li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* 4.3. Button - Header */

button {
    background-color: #ED4385;
    color: white;
    padding: 20px 40px;
    border-radius: 35px;
    text-transform: uppercase;
    border: none;
}


/* 4.4. Squiggle - Header*/

.squiggle {
    width: 30px;
    height: 30px;
    padding: 20px;
}


/* 4.5. Introduction - Main */




.header-opening {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 50px;
    color: white;
    border: 1px solid yellow;
}

.opening-article {
    color: black;
    padding: 50px;
    margin: 50px;
}

    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 300px;
    padding: 20px;
}*/




/* --> main */


.squiggle-line {
    padding: 10px;
}

.main-text-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 400px;
    padding: 0 50px;
    margin: 10px;
    border: 3px solid orchid;
}

.main-image-container {
    width: 100%;
}


/*.main-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    box-sizing: border-box;
}*/

/*.main-text-and-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px dotted green;*/



.main-introduction {
    color: #4845E4;
    width: 700px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border: 5px solid greenyellow;
}



.main-contact-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid blue;
    width: 700px;
    height: 70px;
    padding: 20px;
    margin-top: 10px;
    color: black;
}



.main-paragraph {
    padding: 10px;
}




.photos {
    width: 100%;
}


.click-on-link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

/*.small-icons-article-one, .small-icons-article-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px
}*/

.left, .middle, .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    flex-basis: 300px;
    margin: 5px;
    padding: 10px;
    border: 5px solid greenyellow;

}

.small-icon {
    width: 80px;
    padding: 10px;
}


h3 {
    color: #5722CD;
    padding-bottom: 20px;
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #4845E4;
    border: 3px solid olivedrab;
}

.footer-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    border: 3px solid deeppink;
}

.footer-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    width: 700px;
    padding: 20px;
    border: 3px solid deeppink;

}

label {
    color: white;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid darkblue;

}

.wrap-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
}














/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */


/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */