* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap');
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

/*
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
 */

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/
 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     margin: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid orange;
    background-color: #4845E4;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 8px;
    border: 5px dotted green;
    background-color: #4845E4;


}

ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border: 5px solid red;
}

li {
    display: inline;
    padding: 8px;

}


.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid orange;
    background-color: #4845E4;
}

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px dotted red;
    padding: 20px;
    background-color: #4845E4;
    color: white;
    padding: 100px;

}

.text-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headlines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid orange;
    padding: 100px;
    color: #4845E4;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    padding: 8px;
    color: black;

}

.text-and-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px dotted green;
}



.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 3px solid orchid;
    width: 300px;
    height: 300px;
    margin: 100px;
}

.image {
    border: 3px solid orchid;
}

img {
    width: 500px;
}

.variety {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px dotted green;

}

.worth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px dotted green;
}

.small-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.left {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 300px;
    margin: 8px;
    padding: 20px;
}

.middle {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    margin: 8px;
    padding: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    margin: 8px;
    padding: 20px;
}

.icon {
    width: 80px;
}

article {
    border: 3px solid greenyellow;
    padding: 20px;

}

h3 {
    color: #5722CD;
}







/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */


/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */