* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap');
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

/*
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
 */

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* --> header */

/*.outer-container {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;
    align-items: center;
     margin: 20px;
} */

.header-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: #4845E4;
    border: 3px solid yellow;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    border: 3px solid orangered;
}

li {
    display: inline;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

li a {
    color: white;
    text-decoration: none;
}


.header-opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #4845E4;
    color: white;
    border: 5px solid red;
}

.opening-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 300px;
    padding: 20px;
}

.opening-title {
    padding: 10px;
    display: flex;
    font-size: 35px;
}

.opening-text {
    padding-bottom: 20px;
}

button {
    background-color: #ED4385;
    color: white;
    padding: 20px 40px;
    border-radius: 35px;
    text-transform: uppercase;
    border: none;
}

.squiggle {
    width: 100px;
    height: 100px;
    padding: 20px;
}


/* --> main */

.squiggle-line {
    padding: 10px;
}

.main-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    box-sizing: border-box;
}

.main-introduction {
    color: #4845E4;
    border: 5px solid greenyellow;
    width: 700px;
    height: 300px;
    padding: 20px;
    text-align: center;
}

.main-text {
    padding: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-contact-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid blue;
    width: 700px;
    height: 70px;
    padding: 20px;
    margin-top: 10px;
    color: black;
}

.main-text-and-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px dotted green;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 3px solid orchid;
    width: 300px;
    height: 300px;
    margin: 100px;
}

.main-paragraph {
    padding: 10px;
}

h2 {
    padding: 10px;
}


.photos {
    width: 600px;
    height: 400px;
}


.click-on-link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

.small-icons-article-one, .small-icons-article-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.left, .middle, .right {
    display: flex;
    flex-direction: column;
    /*box-sizing: border-box;*/
    flex-basis: 300px;
    margin: 10px;
    padding: 30px;
    border: 5px solid greenyellow;

}

.small-icon {
    width: 80px;
    padding: 10px;
}


h3 {
    color: #5722CD;
    padding-bottom: 20px;
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid olivedrab;
    box-sizing: border-box;
    background-color: #4845E4;
}

.footer-paragraph {
    border: 3px solid deeppink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.footer-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    width: 700px;
    padding: 20px;
    border: 3px solid deeppink;

}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 6px;
    box-sizing: border-box;

}















/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */


/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */